[Unit]
Description=flexible, lightweight, managed application runtime
Documentation=https://docs.jboss.org/author/display/WFLY10/Documentation?_sscc=t

[Service]
User=wildfly
Group=wildfly
SyslogIdentifier=wildfly
ExecStart=/usr/bin/java \
          -D"[Standalone]" \
          -Dorg.jboss.boot.log.file=/opt/wildfly/standalone/log/ \
          -Dlogging.configuration=file:/opt/wildfly/standalone/configuration/logging.properties \
          -jar /opt/wildfly/jboss-modules.jar \
          -mp /opt/wildfly/modules/ \
          org.jboss.as.standalone \
          -Djboss.home.dir=/opt/wildfly/standalone/ \
          -Djboss.server.base.dir=/opt/wildfly/standalone/ \
          -c standalone.xml \
          -P /opt/wildfly/jboss.properties

[Install]
WantedBy=multi-user.target
