[Unit]
Description=WildFly

[Service]
SyslogIdentifier=wildfly
ExecStart=/usr/bin/java \
          -D"[Standalone]" \
          -Dorg.jboss.boot.log.file=/opt/wildfly/standalone/log/ \
          -Dlogging.configuration=file:/opt/wildfly/standalone/configuration/logging.properties \
          -jar /opt/wildfly/jboss-modules.jar \
          -mp /opt/wildfly/modules/ \
          org.jboss.as.standalone \
          -Djboss.home.dir=/opt/wildfly/standalone/ \
          -Djboss.server.base.dir=/opt/wildfly/standalone/ \
          -c /opt/wildfly/standalone/configuration/standalone.xml \
          -P /opt/wildfly/jboss.properties

[Install]
WantedBy=multi-user.target
